// Colors
$brand-color: #067eff;
$secondary-color: #ffd306;
$accessory-color: #008209;
$warning-color: #ff0624;
$neutral-color: #fff;
$bg-color: #e7ece8;

// Text
$text-color: #505050;
$text-secondary-color: #ababab;
$link-color: #6097c7;

// Borders
$border-color: #d8d8d8;
$border-radius: 5px;

// Fonts
$rem-baseline: 10px !default;
$font-default: "Roboto", arial, sans-serif;
$font-secondary: "PT Sans", arial, sans-serif;
$lh-default: 1.2;

// grid
$grid-gutter: 8px;

// grid index
$z-idx-under: -1;
$z-idx-main: 1;
$z-idx-over: 2;
$z-idx-super: 3;

// media breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-desktop: 896px;
