<template>
  <button
    type="submit"
    class="btn"
    @click="handleClick"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  methods: {
    handleClick(event) {
      this.$emit('click', event);
    },
  },
};
</script>

<style scoped lang="scss">
  .btn {
    visibility: hidden;
    padding: $grid-gutter;
    color: $neutral-color;
    background: $brand-color;
    border-radius: $border-radius;
    border: 1px solid $brand-color;
    cursor: pointer;
  }
</style>
