<template>
  <div v-if="visible" class="hint-wrapper">
    <p :class="['hint', type]">
      <slot />
    </p>
  </div>
</template>

<script lang="ts">
export default {
  name: 'BaseHint',
  props: {
    type: String,
    visible: Boolean,
  },
};
</script>

<style lang="scss" scoped>
$hint-info-color: $text-secondary-color;
$hint-success-color: $accessory-color;
$hint-error-color: $warning-color;
$hint-height: 19px;

.hint {
  max-height: $hint-height * 2;
  margin: 0;
  padding-top: $grid-gutter / 2;
  font-size: 12px;
  text-align: left;

  &.info {
    color: $hint-info-color;
  }

  &.success {
    color: $hint-success-color;
  }

  &.error {
    color: $hint-error-color;
  }
}
</style>
