<template>
  <div class="element">
    <span>{{ title }}</span>
  </div>
</template>

<script>
export default {
  name: 'BaseElement',
  props: {
    title: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .element {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius / 2;
    background: $neutral-color;
  }
</style>
