<template>
  <div class="container">

    <h2 class="d-flex justify-center">Ввод данных:</h2>
    <form class="d-flex">
      <div class="box">
        <label for="count">
          Количество элементов:
          <input
            id="count"
            placeholder="Введите кол-во элементов"
            v-model.trim="count"
            @keyup.enter="pressEnterElems"
            @keydown="clearResult"
          >
        </label>
        <base-hint :visible="!$v.count.required" type="error">
          Поле не должно пыть пустым, введите число
        </base-hint>
        <base-hint :visible="!$v.count.between" type="error">
          Значение должно быть от {{ $v.count.$params.between.min }} до {{ $v.count.$params.between.max }}
        </base-hint>
      </div>

      <div class="box">
        <label for="count">
          Количество рядов:
          <input
            id="rows"
            placeholder="Введите кол-во рядов"
            v-model.trim="rows"
            @keyup.enter="pressEnterRows"
            @change="clearResult"
          >
        </label>
        <base-hint :visible="!$v.rows.required" type="error">
          Поле не должно пыть пустым, введите число
        </base-hint>
        <base-hint :visible="!$v.rows.between" type="error">
          Значение должно быть от {{ $v.rows.$params.between.min }} до {{ $v.rows.$params.between.max }}
        </base-hint>
      </div>
    </form>

    <hr>

    <h2 class="d-flex justify-center">Результат:</h2>
    <div v-if="!$v.$invalid" class="elements" :style="{maxHeight: showHideElements ? fullRowsHeight : rows * heightOfRows + 'px'}" >
      <BaseElement :title="element.email" v-for="element in validElements" :key="element.id" />
    </div>

    <BaseButton
      v-if="elementsCount !== 0 && rows !== ''"
      @click="showHideElements = !showHideElements"
      class="btn"
    >
      {{showHideElements ? 'Скрыть всё' : ' Показать всё'}}
    </BaseButton>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import {
  required,
  between,
} from 'vuelidate/lib/validators';

import {
  MIN_COUNT_LENGTH,
  MAX_COUNT_LENGTH,
  MIN_ROWS_LENGTH,
  MAX_ROWS_LENGTH,
  HEIGHT_OF_ROWS,
  FULL_ROWS_HEIGHT,
} from './consts/elements';

import BaseButton from './components/BaseButton.vue';
import BaseElement from './components/BaseElement.vue';
import BaseHint from './components/BaseHint.vue';

export default {
  name: 'App',
  data() {
    return {
      fullRowsHeight: FULL_ROWS_HEIGHT,
      heightOfRows: HEIGHT_OF_ROWS,
      rows: MIN_ROWS_LENGTH,
      count: MIN_COUNT_LENGTH,
      showHideElements: false,
      resetRows: false,
    };
  },
  components: { BaseButton, BaseElement, BaseHint },
  validations: {
    count: {
      required,
      between: between(MIN_COUNT_LENGTH, MAX_COUNT_LENGTH),
    },
    rows: {
      required,
      between: between(MIN_ROWS_LENGTH, MAX_ROWS_LENGTH),
    },
  },
  computed: mapGetters(['validElements', 'elementsCount']),
  methods: {
    ...mapActions(['fetchElements', 'fetchClear']),
    async pressEnterElems() {
      if (this.$v.$invalid) return;
      await this.fetchElements(this.count);
      this.updatePosition();
    },
    async pressEnterRows() {
      if (this.$v.$invalid) return;
      await this.fetchElements(this.count);
      this.updatePosition();
    },
    clearResult() {
      this.fetchElements(0);
      this.showHideElements = false;
    },
    updatePosition() {
      const lastElement = document.querySelector('.elements .element:last-child');
      const posLastElement = lastElement.getBoundingClientRect().y + 10;

      const btn = document.querySelector('.btn');
      const posBtn = btn.getBoundingClientRect().y;

      if (posLastElement > posBtn && posBtn !== 0) {
        btn.style.visibility = 'visible';
      } else if (posLastElement < posBtn) {
        btn.style.visibility = 'hidden';
      }
    },
  },
  mounted() {
    this.fetchElements(this.count);
  },
};
</script>

<style scoped lang="scss">
  .container {
    max-width: $container-desktop;
    margin: $grid-gutter * 5 auto;
  }

  .elements {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: $grid-gutter * 3 0 $grid-gutter;

    .element {
      margin: $grid-gutter / 4;
    }
  }

  .box {
    border-radius: $border-radius;
    padding: $grid-gutter;
  }

  .btn {
    margin-left: $grid-gutter / 2;
  }

  input {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $neutral-color;
    outline: none;
    height: 24px;
    width: 200px;
    color: $text-color;
    font-size: 11px;
    padding: 0 $grid-gutter;
  }
</style>
