/* Global UI Styling */
html,
body {
  background-color: $bg-color;
}

body,
input,
textarea,
button,
option {
  font-family: $font-default;
  line-height: $lh-default;
  color: $text-color;
}

// stylelint-disable selector-max-universal
*,
*::before,
*::after {
  box-sizing: border-box;
}

// stylelint-enable selector-max-universal
button,
a,
label {
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 5px;

  a {
    color: inherit;
  }
}

input {
  appearance: none;
}
