$aligns: center left right;

@each $align in $aligns {
  .text-#{$align} {
    text-align: $align;
  }
}
/*
   Usage:
   mb-md-2

   Output css:
   @media (min-width: 768px) {
       .mb-md-2 {
            margin-bottom: 1.6rem !important;
       }
   }
*/
$properties: (
  m: margin,
  p: padding
);
$directions: (
  t: top,
  b: bottom,
  l: left,
  r: right,
  a: top bottom left right,
  x: left right,
  y: top bottom
);
$sizes: auto 1 2 3 4 5 6 -6 -5 -4 -3 -2 -1;

$displays: flex inline-flex block inline-block inline none;

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}

$wraps: wrap nowrap;

@each $wrap in $wraps {
  .#{$wrap} {
    flex-wrap: $wrap;
  }
}

$directions: row column;

@each $direction in $directions {
  .#{$direction} {
    flex-direction: $direction;
  }
}

.fill-height {
  height: 100%;
  flex: 1 1 auto;
}

.grow {
  flex-grow: 1;
  flex-shrink: 0;
}

.shrink {
  flex-grow: 0;
  flex-shrink: 1;
}

.align {
  &-baseline {
    align-items: baseline;
  }

  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }

  &-start {
    align-items: flex-start;
  }

  &-content {
    &-center {
      align-content: center;
    }

    &-end {
      align-content: flex-end;
    }

    &-start {
      align-content: flex-start;
    }

    &-space {
      // stylelint-disable max-nesting-depth
      &-around {
        align-content: space-around;
      }

      &-between {
        align-content: space-between;
      }
      // stylelint-enable
    }
  }

  &-self {
    &-baseline {
      align-self: baseline;
    }

    &-center {
      align-self: center;
    }

    &-end {
      align-self: flex-end;
    }

    &-start {
      align-self: flex-start;
    }

    &-stretch {
      align-self: stretch;
    }
  }
}

.justify {
  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-start {
    justify-content: flex-start;
  }

  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }
}
